{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Мұғалім</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ teacher.surname }}</td>
            </tr>
            <tr>
                <th>Аты</th>
                <td>{{ teacher.firstname }}</td>
            </tr>
            <tr>
                <th>Әкесінің аты</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
            <tr>
                <th>Қызметі</th>
                <td>{{ teacher.position }}</td>
            </tr>
            <tr>
                <th>Категориясы</th>
                <td>{{ teacher.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_teacher_index') }}">Кері қайту</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">Өңдеу</a>

    {{ include('admin/adminbody/admin_teacher/_delete_form.html.twig') }}
{% endblock %}
