{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Преподаватель</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ teacher.surname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ teacher.firstname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
            <tr>
                <th>Должность</th>
                <td>{{ teacher.position }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>{{ teacher.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('teacher_index') }}">Вернуться к списку</a>

    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">Редактировать</a>

    {{ include('admin/adminbody/admin_teacher/_delete_form.html.twig') }}
{% endblock %}
