{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Position</th>
            <th>Category</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.firstname }}</td>
                <td>{{ teacher.lastname }}</td>
                <td>{{ teacher.position }}</td>
                <td>{{ teacher.category }}</td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_new') }}">Create new</a>
{% endblock %}
