{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Мұғалімдер</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Аты</th>
                <th>Әкесінің аты</th>
                <th>Қызметі</th>
                <th>Категориясы</th>
                <th>Әрекеттер</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.firstname }}</td>
                <td>{{ teacher.lastname }}</td>
                <td>{{ teacher.position }}</td>
                <td>{{ teacher.category }}</td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">Көрсету</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">Өңдеу</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Жазбалар табылған жоқ</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_new') }}">Құру</a>
{% endblock %}
