{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Қолданушылар</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Логин</th>
                <th>Рөлі</th>
                <th>Әрекеттер</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ roles[i]|join(', ') }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Көрсету</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Өңдеу</a>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% else %}
            <tr>
                <td colspan="5">Жазбалар табылған жоқ</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Құру</a>
{% endblock %}
