{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Ученик</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ student.surname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ student.firstname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ student.lastname }}</td>
            </tr>
            <tr>
                <th>Форма обучения</th>
                <td>{{ student.shift }}</td>
            </tr>
            <tr>
                <th>Класс</th>
                <td>{{ student.groupName.name }}</td>
            </tr>
            <tr>
                <th>Дата рождения</th>
                <td>{{ student.birth ? student.birth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ student.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('student_index') }}">Вернуться к списку</a>

    <a href="{{ path('student_edit', {'id': student.id}) }}">Редактировать</a>

    {{ include('admin/adminbody/admin_student/_delete_form.html.twig') }}
{% endblock %}
