<div class="container">
    <nav>
        <div class="nav-item"><a href="{{ path('admin_user_index') }}">Қолданушылар</a></div>
        <div class="nav-item"><a href="{{ path('admin_teacher_index') }}">Мұғалімдер</a></div>
        <div class="nav-item"><a href="{{ path('admin_student_index') }}">Оқушылар</a></div>
        <div class="nav-item"><a href="{{ path('admin_groups_index') }}">Үлгерімдер</a></div>
        <div class="nav-item"><a href="{{ path('schedule_groups_index') }}">Сабақ кестесі</a></div>
    </nav>
</div>