{% extends 'teacher/teacher_body.html.twig' %}

{% block teacherbody %}
    <h1>Оқушылар</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Пәннің аты</th>
            <th>1-ші тоқсан</th>
            <th>2-ші тоқсан</th>
            <th>3-ші тоқсан</th>
            <th>4-ші тоқсан</th>
            <th>Жылдық</th>
            <th>Экзамен</th>
            <th>Қорытынды</th>
            <th>Әрекеттер</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
        <tr>
            <td>{{ subject.name }}</td>
            {% for grade in student.grades %}
                {% if grade.subject.name == subject.name %}
                    <td>{{ grade.quarterOne }}</td>
                    <td>{{ grade.quarterTwo }}</td>
                    <td>{{ grade.quarterThree }}</td>
                    <td>{{ grade.quarterFour }}</td>
                    <td>{{ grade.year }}</td>
                    <td>{{ grade.exam }}</td>
                    <td>{{ grade.final }}</td>
                    <td>
                        <a href="{{ path('teacher_student_progress_edit', {'id': grade.id}) }}">Өңдеу</a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_student_progress_create', {'id': id}) }}">Құру</a>
{% endblock %}